<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <hr class="hr-without-top-margin">
      <h3 class="center">
        <span class="glyphicon glyphicon-info-sign glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p>
        Urząd Komunikacji Elektronicznej przygotował „Atlas szerokopasmowego dostępu do Internetu” dla wszystkich gmin w Polsce zawierający w formie graficznej i tabelarycznej zestawienie informacji o punktach adresowych w których dostępny jest zasięg sieci NGA30. Celem opracowania Atlasu jest zapewnienie władzom samorządowym i przedsiębiorcom dostępu do informacji o infrastrukturze szerokopasmowej już istniejącej jak i tej, która powstanie w ramach Programu Operacyjnego Polska Cyfrowa na lata 2014-2020. Jednym z celów Narodowego Planu Szerokopasmowego zgodnego z Europejską Agendą Cyfrową jest zapewnienie dostępu do Internetu o prędkości co najmniej 30 Mb/s do końca 2020 r. oraz doprowadzenie do wykorzystania usług dostępu o prędkości co najmniej 100 Mb/s przez 50% gospodarstw do końca 2020 r.
      </p>  
      <p>
        Atlas skierowany jest do wójtów, burmistrzów i prezydentów miast oraz do przedsiębiorców telekomunikacyjnych, gdyż to do ich zadań, kompetencji i celów biznesowych należy zapewnienie dostępu do Internetu szerokopasmowego. Zgodnie z art. 7 Ustawy o samorządzie gminnym zadaniem własnym jednostki samorządu terytorialnego jest zaspokojenie zbiorowych potrzeb wspólnoty poprzez m.in. działalność w zakresie telekomunikacji. 
        Inwestycje realizowane w ramach pierwszej osi priorytetowej Programu Operacyjnego Polska Cyfrowa znacząco wpłyną na stan rozwoju sieci szerokopasmowych w Polsce. W ramach Programu ogłoszone zostały trzy konkursy, a kwota alokacji wynosi 1 020 222 652 Euro. Biorąc pod uwagę, że POPC zostanie wkrótce zakończony, konieczne jest określenie i poszukiwanie zarówno nowych źródeł finansowania inwestycji jak i wskazanie obszarów wymagających dalszych interwencji czyli tzw. białych plam.        
      </p>
      <p>
        Informacje zawarte w Atlasie w sposób przejrzysty i czytelny prezentują obszary w których jest dostęp do Internetu szerokopasmowego o prędkościach powyżej 30 Mb/s (oznaczone jako czarne plamy) oraz miejsca w których tego zasięgu nie ma tzw. białe plamy. W formie map oraz linków do zestawień tabelarycznych wskazane zostały białe plamy rozumiane jako punkty adresowe, które zgodnie z danymi przekazanymi przez przedsiębiorców (stan na 31.12.2017 r.) jak i po zakończeniu inwestycji w ramach 1 osi POPC nie będą posiadały zasięgu co najmniej 30 Mb/s. W celu oceny dostępności do sieci i porównania gmin posłużono się również wskaźnikiem penetracji budynkowej, rozumianym jako stosunek liczby budynków znajdujących się w zasięgu sieci NGA30 do liczby wszystkich budynków w obszarze. Wartości procentowe jakie przyjmuje wskaźnik zaprezentowane zostały dla każdej gminy wraz z gminami sąsiednimi w celu porównania tych wartości. Ponadto opracowany został ogólnopolski ranking gmin pod względem penetracji budynkowej z podziałem na typ gminy.
      </p>
      <p>
        Niniejsze opracowanie może zostać użyte do podjęcia działań z zakresu zapewnienia dostępu w miejscach w których została już wybudowana infrastruktura oraz tam, gdzie konieczne jest wybudowanie nowej sieci czy to ze środków jednostki samorządu terytorialnego, przedsiębiorcy telekomunikacyjnego czy też w ramach ich współpracy. Ze względu na rosnącą potrzebę dostępu oraz korzystania z Internetu o wyższych prędkościach spodziewany jest wzrost zapytań kierowanych do przedsiębiorców i jednostek samorządu terytorialnego o zapewnienie tego dostępu. Za pośrednictwem Atlasu udostępnione zostały odnośniki do zestawień prezentujących punkty adresowe będące białymi plamami oraz link do zgłoszonego przez mieszkańców popytu na dane usługi co może ułatwić identyfikację i szybkie zaspokojenie potrzeb mieszkańców, a dla przedsiębiorców stanowi wykaz potencjalnych klientów.        
      </p>
      <p>
        Do opracowania Atlasu zostały wykorzystane dane pochodzące z:
        <h5>- Systemu Informacyjnego o Infrastrukturze Szerokopasmowej- na tej podstawie wyznaczono czarne plamy,</h5>
        <h5>- konsultacji społecznych białych plam prowadzonych przez Ministerstwo Cyfryzacji- wskazano punkty dla których powstaną inwestycje ze środków własnych przedsiębiorców,</h5>
        <h5>- Urzędu Komunikacji Elektronicznej i Centrum Projektów Polska Cyfrowa do wskazania punktów adresowych na których realizowane są inwestycje w ramach poszczególnych konkursów,</h5>
        <h5>- Państwowego Rejestru Granic (PRG) prowadzonego przez Główny Urząd Geodezji i Kartografii oraz Systemu identyfikacji adresowej ulic, nieruchomości, budynków i mieszkań (NOBC) prowadzonego przez Główny Urząd Statystyczny- na tej podstawie określono dane referencyjne o wszystkich adresach w Polsce.</h5>
      </p>
    </div>
  </div> <!--/row -->

</div> <!--/container -->
